.areas{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f8fafb;
  h3{
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
  }


&__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  &__circle {

    border-radius: 50%;
    background-color: #e1e7ed;
    color: gray;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 140px;
    height: 140px;
    @include tablet{
      margin-right: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      width: 150px;
      height: 150px;
    }
    &:hover {
      background-color: #9373ae;
      color: white;
  }
}
}



}