.footer {
  background-color: #f8fafb;
  text-align: center;
  img{

    height: auto;
    display: block;
    margin-bottom: 24px;
    object-fit: cover;
    max-width: 120px;
    @include mobile{
      width: 40%;
    }
  }
}

.footer-main {
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
  font-size: 0.8em;
  padding-bottom: 2em;
  @include desktop{
    flex-flow: row;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-logo {
  max-width: fit-content;
  margin-bottom: 10px;
  border-bottom: none;
  width: 100%;
  @include desktop{
    width: auto;
  }
}

.footer-column {

  color: $gray;
  width: 100%;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgray;
 
  &:last-child{
    border-bottom: none;
  }
  @include tablet{
 
  }
  @include desktop{
    border: 0px;
    margin: 0 1em;

    max-width: 300px;
  }
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-column ul li {
  margin-bottom: 0.8em;
  font-size: 10px;
  font-family: 'Museo Sans',sans-serif;
  color: $gray;
}

.footer-column ul li a {
  text-decoration: none;
  color: inherit;
}
.footer-column{
  &.marcas{
    min-width: 102px;
  }
&.legal{
  min-width: 180px;
}
&.social-media{
  min-width: 120px;
}
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-message {
  padding-bottom: 1em;
  color: $gray;
}

