.opportunities{
  color: $gray;
  &-left{
    display: flex;
  justify-content: center;
  margin: 0  auto;
  img{
    max-width: 70%;
    min-height: auto;
  }
  }
  .container{
    @include desktop{
      max-width: 95%;
    }
  }
}



.center-countries {
  text-align: center;
  width:100%;
}

.center-countries h3 {
  padding-bottom: 2em;
  text-align: left;
  font-size: 16px;
  color: $gray;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include tablet{
    font-size: 12px;
    text-align: left;
  }
}

.countries {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em; /* Adjust based on your button height and gap */
  max-width: 100%;

  @include tablet{
    margin-left: 48px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
}

.image-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid #f0f3f6;
  width: 100%;

  @include tablet{
    max-width: 240px;
  }

}

.image-button img {
  height: 1.5em;
  margin-right: 5px;
  margin-bottom: 5px;
  width: auto;
  white-space: nowrap;
  padding: 0 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.image-button span {
  align-items: center;
  font-size: 14px;
  color: $gray;
  font-weight: 300;
  @include tablet{
    font-size: 0.8em;
  }
}

.image-button:hover span {
  color: rgb(95, 13, 150);
  font-weight: bold;
}