*{
  color: gray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;outline: 0
}
main{
  width: 100%;
  overflow-x: hidden;
}
/// get column width on percent
@function col($columns, $total) {
  @return calc((100% / $total) * $columns);
}

$breakpoint-tablet: 744px;
$breakpoint-desktop: 1240px;

/// Show only on desktop screens
@mixin desktop {
  @media only screen and (min-width: $breakpoint-desktop) {
      @content;
  }
}

/// Show on tablet screens
@mixin tablet {
  @media only screen and (min-width: ($breakpoint-tablet + 1)) {
      @content;
  }
}

/// Show only on mobile screens
@mixin mobile {
  @media only screen and (max-width: $breakpoint-tablet) {
      @content;
  }
}
h3{
  font-size: 24px;
  width: 100%;
  display: block;
  color: $purple;
  @include tablet{
    font-size: 30px;
    font-weight: 600;
  }
}
.main-right{
  @include mobile{
    display: none;
  }
}
.main-left{
  @include mobile{
    display: none;
  }
}
.small-letter{
  @include tablet{
    margin-top: 24px;
  }
}
.c2 img{
  @include tablet{
    width: 310px;
    max-width: 310px;
  }
}
.main-left-second{
  max-width: 430px;
  margin-top: 80px;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}
.main-title{
  display: flex;
    font-family: 'Museo Sans',sans-serif;
    font-size: 2em;
    font-weight: 500;
   max-width: 900px;
   color:#4e5466;
    @include tablet{
      font-size: 36px;
      margin-bottom: 32px;
 
    }
}
.spacing{
  margin: 44px 0px;
}

.main-content{
  h3{
    margin: 16px 0px;
    font-size: 16px;
    color: $gray;
  }
  p{
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 120%;
    color: $gray;
    font-weight: 300;
    margin-top: 12px;
  }
  ul{
    padding-left: 12px;
    li{
      color: $gray;
      font-family: 'Museo Sans',sans-serif;
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 4px;
      ul{
        margin-top: 12px;
      }
    }
  }
}
.container {
  max-width: 480px;
  width: 84%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: initial;
  padding-top: 48px;
  padding-bottom: 48px;
  @include tablet {
      max-width: 750px;
      width: 100%;
  }

  @include desktop {
    padding-top: 64px;
    padding-bottom: 64px;
      max-width: 85%;
      box-sizing: border-box;
  }
}
span.subtext{
  font-size: 10px;
  margin-bottom: 12px;
  line-height: 120%;
  color: $gray;
  font-weight: 300;
}
.footer-message{
  span{
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 120%;
    color: $gray;
    font-weight: 300;
  }
}